.search {
  height: 64px;
  width: 64px;
}

.search .overlap-group {
  height: 53px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 53px;
}

.search .union {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 53px;
}

.search .ellipse {
  background-color: #fff4d8;
  border: 3px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 30px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 30px;
}

.search .img {
  height: 9px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 9px;
}
